*{
    color: #1a0000;
}

.custom-nav-bg{
    background-color: white !important;
}

.nav-logo{
    max-height: 30px;
}

nav.navbar{
    height: 5rem;
}

.navbar-brand{
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 600;
}

li.nav-item a{
    text-transform: uppercase;
    color: black;
}

.btn-outline-primary{
    text-transform: uppercase;
    padding-left: 10px;
}


@media screen and (max-width: 767px){
    div#navbarCollapse{
        width: 100%;
        position: fixed;
        top: 75px;
        left: 0;
        padding-left: 20px;
        padding-bottom: 5px;
        background-color: white;
        z-index: 9999;
    }
}

div#app-container{
    position: fixed;
    top: 96px;
    left:0;
    bottom: 96px;
    width: 100%;
    padding: 2rem;
    background-color:	#F8F8FF;
    overflow: auto;
}

footer#custom-footer {
    height: 5rem;
    background-color: white;
    font-size: 0.9rem;
    position : fixed;
    bottom: 0;
    width: 100%;
    display:flex;
    justify-content: center;
    align-items:center;
    
}

div#custom-home {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


.btn-success {
    background-color: rgb(51, 190, 51) !important
}

.btn-success:hover{
    background-color: #3ec488;
}

form.custom-form {
    max-width: 40rem;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.btn-secondary{
   width: 100%;
}